
*.opendb
Cudheart/.vs/Cudheart/v17/.suo
*.db
*.db-shm
*.db-wal
Cudheart/.vs/Cudheart/v17/Preview/ipch/AutoPCH/a9bcfab6e5d5ba0f/KERNEL.ipch
Cudheart/.vs/Cudheart/v17/Preview/ipch/AutoPCH/a9bcfab6e5d5ba0f/KERNEL.ipch
Cudheart/.vs/Cudheart/v17/Preview/ipch/AutoPCH/a9bcfab6e5d5ba0f/KERNEL.ipch
*.ipch
Cudheart/.vs/Cudheart/v17/Preview/ipch/AutoPCH/a9bcfab6e5d5ba0f/KERNEL.ipch
